@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

.top-section {
	padding: 1rem 1rem 8rem 1rem;
	max-width:900px;
	max-height: 400px ;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

nav {
	display: flex;
	justify-content: center;
	gap: 11rem;
}

header a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	color:white;
	transition: all 0.2s ease-in-out;
}

header a:hover {
	color:red;
}

#logo {
	font-size: var(--f-lg);
	font-weight: bold;
}

h1 {
	font-family: var(--font-secondary);
	font-size: var(--f-xl);
	font-weight: 400;
	display: flex;
	flex-direction: column;
}

strong {
	font-size: var(--f-3xl);
	text-transform: uppercase;
	margin: -0.7rem 0 1rem 0;
}

p {
	font-size: var(--f-sm);
	margin-bottom: 1rem;
}

#cta {
	font: inherit;
	font-size: var(--f-md);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color);
	background-color: transparent;
	cursor: pointer;
	border-radius: 35px;
	transition: all 0.2s ease-in-out;
}

#cta:hover {
	background-color: var(--color);
	color: var(--white);
}

.divider-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.divider-bottom svg {
	position: relative;
	display: block;
	width: calc(147% + 1.3px);
	height: 200px;
}

#squiggleAlt {
	visibility: hidden;
}

@media (width >= 48rem) {
	#logo {
		font-size: var(--f-xl);
	}

	header a {
		font-size: var(--f-lg);
	}

	h1 {
		font-size: var(--f-2xl);
	}

	strong {
		font-size: var(--f-4xl);
	}

	p {
		font-size: var(--f-md);
	}

	#cta {
		font-size: var(--f-xl);
	}
}