 .card {
  position: relative;
  z-index: 2; /* on top of .accents */
  width: 220px;
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(180deg, #292929aa 0%, #191919cc 50%);
  backdrop-filter: blur(4px);
  box-shadow:
    inset 0 2px 2px 0 #e7c4a088,
    inset 0 -2px 2px 0 #0003;
  color: #ccc;
  text-shadow: 1px 1px 3px #333a;
  padding: 24px 42px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card h2, .card p {
  margin: 8px 0;
}
.card h2 {
  font-size: 1.1em;
}
.card p {
  font-size: 0.9em;
  font-weight: 800;
  color: #aaa;
}

.card .button {
  width: fit-content;
  border-radius: 100px;
  padding: 8px 36px;
  margin-top: 12px;
  background: #fff2;
  box-shadow:
    0 0 0 1px #fff3,
    inset 120px 0 100px -100px #000c,
    0 0 0 0 #fff1;
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
}
.card .button:hover {
  box-shadow:
    0 0 0 1px #fff3,
    inset 200px 0px 100px -100px #000a,
    -4px 0 8px 2px #fff2;
} 

.card img {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
} 

